* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 0, 0);
    width: 100%;
    padding: 4px 64px 4px;
    
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.LuckyLogo {
    margin-right: 16px;
}

.header-logo {
    height: 65px;
}

.menu-button {
    font-size: 32px;
    width: 100px;
    margin: 8px;
    height: 50px;
    background: red;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.menu-button:hover {
    background: rgb(255, 42, 42);
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-photo {
    width: 70%;
    object-fit: cover;
    object-position: top;
    margin-top: 32px;
    border: 4px solid black;
    border-radius: 8px;
}

.slogan-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 32px;
    padding: 32px;
    width: 100%;
    background-color: lightgray;
}

.heading-title {
    color: white;
}

.slogan, .slogan2 {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    font-weight: 600;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    color: rgb(14, 12, 12);
    margin-top: 16px;
}

.merch>h1 {
    color: black;
    text-decoration: underline;
    font-weight: 600;
}

.merch{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 16px;
    font-size: 24px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 32px;
}

.merch-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 2px solid black;
}

.footer {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 32px;
}

.active {
    display: flex
}

.menu-subcat {
    font-size: 32px;
    margin: 0;
    margin-bottom: 16px;
    color: red;
    text-decoration: underline;
    text-align: center;
}

.menu-title {
    font-size: 64px;
} 

.LuckyLogo {
    height: 300px;
}
.LuckyLogo2 {
    height: 70px;
    margin: 8px;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 64px;
}

.menu-items {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 8px;
    grid-template-rows: auto;
}

.menu-item {
    width: 350px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 12px;
    background-color: lightgrey;
}

ul {
    font-size: 20px;
    list-style-type: none;
    line-height: 40px;
    font-weight: 600;
}

.menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seperate2 {
    display: flex;
    align-items: center;
    margin: 32px 10px 16px; 
}

.aboutHeading {
    font-size: 64px;
    color: red;
    font-family: "Bangers", system-ui;
    font-weight: 400;
}

.about {
    font-size: 24px;
    width: 80%;
    border-radius: 8px;
    padding: 32px;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;
}

.about > p {
    margin-top: 16px;
}

.about-row {
    display: flex;
    flex-direction: row;
    width: 80%;
    border: 2px solid black;
    border-radius: 8px;
    margin-bottom: 64px;

}

.chef {
    object-fit: cover;
    width: 40%;
}

.heading-row {
    display: flex;
    align-items: row;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 32px;
}


@media (max-width: 600px) {

    .bar {
        height: 6px;
        width: 100%;
        background-color: #F9FAF8;
        border-radius: 10px;
    }

    .toggle-button {
        position: absolute;
        top: 2rem;
        right: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 30px;
    } 

    header {
        flex-direction: column;
        align-items: baseline;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .active {
        display: none;
    }

    .header-logo {
        height: 60px;
        display: flex;
    }

    .burger-photo {
       height: 350px;
       object-fit: cover;
    }

    .grid {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .slogan-container {
        margin: 32px 16px 16px;
    }

    .slogan {
        font-size: 32px;
    }

    .slogan2 {
        font-size: 20px;
    }

    .slogan3 {
        text-align: center;
    }
}